<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="dGmEjmPhV8.IcfTizenOcDisplay" version="0.3.0" viewmodes="maximized">
   <name>IcfTizenOcDisplay</name>
   <icon src="icon.png"></icon>
   <content src="index.html"></content>
   <feature name="http://tizen.org/feature/screen.size.normal.2160.3840"></feature>
   <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="enable" encryption="disable" install-location="auto" hwkey-event="enable"></tizen:setting>
   <tizen:application id="dGmEjmPhV8.IcfTizenOcDisplay" package="dGmEjmPhV8" required_version="2.3"></tizen:application>
   <tizen:privilege name="http://tizen.org/privilege/application.launch"></tizen:privilege>
   <tizen:privilege name="http://tizen.org/privilege/internet"></tizen:privilege>
   <tizen:privilege name="http://tizen.org/privilege/filesystem.read"></tizen:privilege>
   <tizen:privilege name="http://tizen.org/privilege/filesystem.write"></tizen:privilege>
   <access origin="*" subdomains="true"></access>
   <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"></tizen:metadata>
   <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution" value="extensive"></tizen:metadata>
   <tizen:profile name="tv-samsung"></tizen:profile>
</widget>